* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}
body { font-family: sans-serif; }

.app {
  /* border: 1px solid black; */
  margin: 50px auto;
  width: 500px;
}

.board {
  border-radius: 10px;
  background-color: #c05050;
  border: 7px solid #c05050;
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.3) inset, 1px 1px 5px rgb(0, 0, 0, 0.3) inset;
  width: 100%;
  /* height: 500px; */
  /* height: auto; */
  padding: 3px;
  font-size: 0;
}

.tile {
  background-color: #fffef9;
  width: calc(25% - 2px);
  height: calc(25% - 2px);
  display: inline-block;
  border: 5px solid #fffef9;
  border-radius: 10px;
  margin: 1px;
  /* padding-top: auto; */
  text-align: center;
  font-size: 4.5rem;
  line-height: 2.35;
  color: #c05050;
  box-shadow: -1px -1px 3px rgba(153, 152, 152, .3) inset, 1px 1px 5px rgba(153, 152, 152, .6) inset;
}

.tile.empty {
  background-color: transparent;
  border: none;
  box-shadow: none;
  line-height: 0;
  font-size: 0;
  vertical-align: bottom;
}

.controls {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  /* display: none; */
}

.app button {
  padding: 10px 5px;
  font-size: 20px;
  color: #c05050;
  border: 2px solid #c05050;
  cursor: pointer;
  background-color: transparent;
}

.move-btns {
  display: flex;
  justify-content: flex-end;
}

.move-btns button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 7px;
}

.shuffle {
  /* display: none; */
}

@media screen and (max-width: 350px) {
  .app {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    /* background-color: blue; */
  }

  .board {
    /* padding: 10px; */
  }

  .tile {
    width: 68px;
    height: 68px;
    line-height: 2;
    font-size: 3rem;
  }
}
