* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

body { 
  font-family: sans-serif;
  /* overflow-y: hidden; */
  width: 100%;
  height: 100vh;
}

.app {
  /* border: 1px solid black; */
  /* margin: 50px auto; */
  /* width: 500px; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  height: 100vh;
  /* margin: auto; */
}

.board {
  border-radius: 10px;
  background-color: #c05050;
  border: 7px solid #c05050;
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.3) inset, 1px 1px 5px rgb(0, 0, 0, 0.3) inset;
  width: 500px;
  height: 500px;
  /* height: auto; */
  padding: 3px;
  font-size: 0;
  margin-left: 20px;
}

.board.win {
  background-color: #7250c0;
  border-color: #7250c0;
}

.controls {
  /* width: 100%; */
  /* margin: 0 auto; */
  padding: 20px;
  display: none;
}


.tile {
  background-color: #fffef9;
  width: calc(25% - 2px);
  height: calc(25% - 2px);
  display: inline-block;
  border: 5px solid #fffef9;
  border-radius: 10px;
  margin: 1px;
  /* padding-top: auto; */
  text-align: center;
  font-size: 4.5rem;
  line-height: 2.35;
  color: #c05050;
  box-shadow: -1px -1px 3px rgba(153, 152, 152, .3) inset, 1px 1px 5px rgba(153, 152, 152, .6) inset;
}

.tile.empty {
  background-color: transparent;
  border: none;
  box-shadow: none;
  line-height: 0;
  font-size: 0;
  vertical-align: bottom;
}


.app button {
  padding: 10px 5px;
  font-size: 20px;
  color: #c05050;
  border: 2px solid #c05050;
  cursor: pointer;
  background-color: transparent;
}

.move-btns {
  display: flex;
  justify-content: flex-end;
  display: none;
}

.move-btns button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 7px;
}

.shuffle {
  display: none;
}

#joystick {
  position: relative;
  width: 200px;
  height: 200px;
  /* display: flex; */
  margin: auto;
  border-radius: 50%;
  border: 2px solid #c05050;
  overflow: hidden;
}

#joystick .arows {
  width: 50%;
  height: 50%;
  transform: rotate(45deg);
  /* border: 2px solid #c05050; */
  position: relative;
  top: 50%;
  left: 50%;
  margin: -25%;
  background-color: #c050501a;
  /* z-index: 1; */
}

.arows > div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -45%;
  /* margin: -50%; */
  width: 90%;
  height: 90%;
  /* border: 15px solid rgba(0, 0, 0, 0.384) inset; */
  /* outline: 2px solid #fffef9; */
  border-radius: 50%;
  background-color: #c05050;
  box-shadow: 7px 0px 0px rgb(255, 255, 255),
              -7px 0px 0px rgb(255, 255, 255),
              0px 7px 0px rgb(255, 255, 255),
              0px -7px 0px rgb(255, 255, 255);
  /* z-index: 2000; */
}

@media (max-width: 350px), (max-height: 350px) {
  .board {
    border-radius: 10px;
    border: 4px solid #c05050;
    width: 290px;
    height: 290px;
    padding: 3px;
    /* margin-left: 20px; */
    margin: auto;
    border-width: 4px;
    padding: 1px;
  }
  
  .controls {
    padding: 20px;
    display: none;
  }

  .tile {
    font-size: 2.8rem;
    line-height: 2.3;
    border-width: 2px;
    box-shadow: -1px -1px 1px rgba(153, 152, 152, .3) inset, 1px 1px 1px rgba(153, 152, 152, .6) inset;
    /* box-shadow: none */
  }

  .app {
    flex-direction: row;
  }
}

